/*Estilos adicionales*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #1c6641;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #037529;
}

.btn-warning {
    background-color: #ffc107;
    color: #333;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #356adc;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #1c4f94;
}

.table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
